body{
    background-color: #F3F3FF;
}
.header-1{
    color: #2c2c2c;
    margin-top: 50px;
}
#meals{
    padding: 10px;
    text-align: center;
    font-size: 70px;
    cursor: pointer;
}
#meals img{
    width: 100%;
    border-radius: 2%;
    cursor: pointer;
}
.extra{
    text-align: center;
    background-image: #ECF0F5;
    padding-top: 20px;
    padding-bottom: 20px;
}
.extra #image{
    width: 50%;
    border-radius: 2%;
    cursor: pointer;
}
